{
  :applications {
    :slack_notion ["^com\\.tinyspeck\\.slackmacgap$" "^notion\\.id"]
    :notion ["^notion\\.id"]
    :slack ["^com\\.tinyspeck\\.slackmacgap$"]
    :excel ["^com\\.microsoft\\.Excel"]
    :no_return_apps [
      "^com\\.todesktop\\.230313mzl4w4u92" ;; Cursor
    ]
  }

  :devices {
      :geonix [
        {:vendor_id 14000 :product_id 12292} ;; Bluetooth
        {:vendor_id 14000 :product_id 12386} ;; USB
        {:vendor_id 14000 :product_id 12290} ;; 2.4GHz
      ]
  }
  
  :froms {
    ;; 波括弧 {}
    :sim_curved_brackets {:sim [:open_bracket :close_bracket] :modi {:mandatory [:left_shift]}}
    ;; ダブルクォート ""
    :sim_colon_double-quote {:sim [:semicolon :quote] :modi {:mandatory [:left_shift]}}
  }

  :tos {
    ;; 角括弧 []
    :to_square_brackets_jp_non-xls [{:key :open_bracket} {:key :close_bracket} {:key :return_or_enter :modi [:command :option :shift]}                          {:key :left_arrow}]
    :to_square_brackets_jp_xls     [{:key :open_bracket} {:key :close_bracket} {:key :return_or_enter :modi [:command :option :shift]} {:key :u :modi :control} {:key :left_arrow}]
    :to_square_brackets_en_non-xls [{:key :open_bracket} {:key :close_bracket}                                                                                  {:key :left_arrow}]
    :to_square_brackets_en_xls     [{:key :open_bracket} {:key :close_bracket}                                                         {:key :u :modi :control} {:key :left_arrow}]
  }
  
  :input-sources {
    :ja {:language "ja"}
  }

  :templates {
    :launch "osascript -e 'tell application \"%s\" to activate'"
  }

  :main [
    {:des "CAPSハイパーキー: Caps_lockを Shift, Command, Control, Option に置換する"
     :rules [
      [:caps_lock [:!CTOleft_shift]]
      [:!!a [:launch "Arc"]]
      [:!!c [:launch "Cursor"]]
      [:!!d [:launch "Dictionaries"]]
      [:!!l [:launch "DeepL"]]
      [:!!f [:launch "Finder"]]
      [:!!n [:launch "Notion"]]
      [:!!o [:launch "Obsidian"]]
      [:!!p [:launch "1Password"]]
      [:!!r [:launch "Reminders"]]
      [:!!s [:launch "Slack"]]
      [:!!w [:launch "Warp"]]
    ]}

    {:des "英かな：左右⌘キーを単独で押したときは英数・かなキーとして扱う"
     :rules [
      [:left_command :left_command   nil {:alone :japanese_eisuu}]
      [:right_command :right_command nil {:alone :japanese_kana}]
    ]}

    {:des "アプリ横断でショートカットキーを統一"
     :rules [
      ;; Slack & Notion
      [:!Cl :!Ck :slack_notion] ;; 検索 ⌘ L -> ⌘ K

      ;; Notion
      [:!CSTc :!CTl :notion]  ;; ブロックリンクコピー ⌘⇧^ C -> ⌘^ L
      [:!CS7  :!CO6 :notion]  ;; 番号付き箇条書き ⌘⇧ 7 -> ⌘⌥ 6
      [:!CS8  :!CO5 :notion]  ;; 箇条書き ⌘⇧ 8 -> ⌘⌥ 5
      [:!CS9  :!CO4 :notion]  ;; チェックリスト ⌘⇧ 9 -> ⌘⌥ 4

      ;; Slack
      [:!Ce :!CSc :slack];; コード ⌘ E -> ⌘⇧ C (Notion's shortcut)
    ]}

    {:des "Comboで括弧を自動的に閉じてカーソルを中に移動"
     :rules [
      ;; ^⌥⇧リターンは日本語の確定動作（かわせみで定義必要：「変換と確定」→「全文節確定」、「候補操作」→「候補決定」）
      ;; '"`は半角直接入力設定なので確定不要。
      
      ;; 不等号 <>
      ;; ,. → 不等号 <>（共通）
      [[:comma :period] [:!Scomma :!Speriod :!TOSreturn_or_enter      :left_arrow] [:ja :!excel]]  ;; 日本語、Excel以外
      [[:comma :period] [:!Scomma :!Speriod :!TOSreturn_or_enter :!Tu :left_arrow] [:ja :excel]]   ;; 日本語、Excel
      [[:comma :period] [:!Scomma :!Speriod                           :left_arrow] [:!ja :!excel]] ;; 日本語以外、Excel以外
      [[:comma :period] [:!Scomma :!Speriod                      :!Tu :left_arrow] [:!ja :excel]]  ;; 日本語以外、Excel

      ;; 角括弧 []
      ;; [] → 角括弧 []（ビルドインキーボード）
      [[:open_bracket :close_bracket] :to_square_brackets_jp_non-xls [:ja :!excel]]  ;; 日本語、Excel以外
      [[:open_bracket :close_bracket] :to_square_brackets_jp_xls     [:ja :excel]]   ;; 日本語、Excel
      [[:open_bracket :close_bracket] :to_square_brackets_en_non-xls [:!ja :!excel]] ;; 日本語以外、Excel以外
      [[:open_bracket :close_bracket] :to_square_brackets_en_xls     [:!ja :excel]]  ;; 日本語以外、Excel
      ;; fg → 角括弧 []（Geonix）
      [[:f :g] :to_square_brackets_jp_non-xls [:geonix :ja :!excel]]  ;; 日本語、Excel以外
      [[:f :g] :to_square_brackets_jp_xls     [:geonix :ja :excel]]   ;; 日本語、Excel
      [[:f :g] :to_square_brackets_en_non-xls [:geonix :!ja :!excel]] ;; 日本語以外、Excel以外
      [[:f :g] :to_square_brackets_en_xls     [:geonix :!ja :excel]]  ;; 日本語以外、Excel

      ;; 波括弧 {}
      ;; {} → 波括弧 {}
      [:sim_curved_brackets [:!Sopen_bracket :!Sclose_bracket :!TOSreturn_or_enter      :left_arrow] [:ja :!excel]]  ;; 日本語、Excel以外
      [:sim_curved_brackets [:!Sopen_bracket :!Sclose_bracket :!TOSreturn_or_enter :!Tu :left_arrow] [:ja :excel]]   ;; 日本語、Excel
      [:sim_curved_brackets [:!Sopen_bracket :!Sclose_bracket                           :left_arrow] [:!ja :!excel]] ;; 日本語以外、Excel以外
      [:sim_curved_brackets [:!Sopen_bracket :!Sclose_bracket                      :!Tu :left_arrow] [:!ja :excel]]  ;; 日本語以外、Excel
      ;; vb → 波括弧 {}（Geonix）
      [[:v :b] [:!Sopen_bracket :!Sclose_bracket :!TOSreturn_or_enter      :left_arrow] [:geonix :ja :!excel]]  ;; 日本語、Excel以外
      [[:v :b] [:!Sopen_bracket :!Sclose_bracket :!TOSreturn_or_enter :!Tu :left_arrow] [:geonix :ja :excel]]   ;; 日本語、Excel
      [[:v :b] [:!Sopen_bracket :!Sclose_bracket                           :left_arrow] [:geonix :!ja :!excel]] ;; 日本語以外、Excel以外
      [[:v :b] [:!Sopen_bracket :!Sclose_bracket                      :!Tu :left_arrow] [:geonix :!ja :excel]]  ;; 日本語以外、Excel

      ;; 丸括弧 ()
      ;; 90 → 丸括弧 ()
      [[:9 :0] [:!S9 :!S0 :!TOSreturn_or_enter      :left_arrow] [:ja :!excel]]  ;; 日本語、Excel以外
      [[:9 :0] [:!S9 :!S0 :!TOSreturn_or_enter :!Tu :left_arrow] [:ja :excel]]   ;; 日本語、Excel
      [[:9 :0] [:!S9 :!S0                           :left_arrow] [:!ja :!excel]] ;; 日本語以外、Excel以外
      [[:9 :0] [:!S9 :!S0                      :!Tu :left_arrow] [:!ja :excel]]  ;; 日本語以外、Excel
      ;; nm → 丸括弧 (Geonix)
      [[:n :m] [:!S9 :!S0 :!TOSreturn_or_enter      :left_arrow] [:geonix :ja :!excel]]  ;; 日本語、Excel以外
      [[:n :m] [:!S9 :!S0 :!TOSreturn_or_enter :!Tu :left_arrow] [:geonix :ja :excel]]   ;; 日本語、Excel
      [[:n :m] [:!S9 :!S0                           :left_arrow] [:geonix :!ja :!excel]] ;; 日本語以外、Excel以外
      [[:n :m] [:!S9 :!S0                      :!Tu :left_arrow] [:geonix :!ja :excel]]  ;; 日本語以外、Excel

      ;; シングルクォート ''
      ;; ;' → シングルクォート ''
      [[:semicolon :quote] [:quote :quote      :left_arrow] [:!excel]] ;; 言語非依存、Excel以外
      [[:semicolon :quote] [:quote :quote :!Tu :left_arrow] [:excel]]  ;; 言語非依存、Excel
      ;; .; → シングルクォート ''（Geonix）
      [[:period :semicolon] [:quote :quote      :left_arrow] [:geonix :!excel]] ;; 言語非依存、Excel以外
      [[:period :semicolon] [:quote :quote :!Tu :left_arrow] [:geonix :excel]]  ;; 言語非依存、Excel

      ;; ダブルクォート ""
      ;; :" → ダブルクォート ""
      [:sim_colon_double-quote [:!Squote :!Squote      :left_arrow] [:!excel]] ;; 言語非依存、Excel以外
      [:sim_colon_double-quote [:!Squote :!Squote :!Tu :left_arrow] [:excel]]  ;; 言語非依存、Excel
      ;; lp → ダブルクォート ""（Geonix）
      [[:l :p] [:!Squote :!Squote      :left_arrow] [:geonix :!excel]] ;; 言語非依存、Excel以外
      [[:l :p] [:!Squote :!Squote :!Tu :left_arrow] [:geonix :excel]]  ;; 言語非依存、Excel

      ;; バッククォート ``
      ;; `1 → バッククォート ``
      [[:grave_accent_and_tilde :1] [:grave_accent_and_tilde :grave_accent_and_tilde      :left_arrow] [:!excel]] ;; 言語非依存、Excel以外
      [[:grave_accent_and_tilde :1] [:grave_accent_and_tilde :grave_accent_and_tilde :!Tu :left_arrow] [:excel]]  ;; 言語非依存、Excel
      ;; ESC w → バッククォート ``（Geonix）
      [[:escape :w] [:grave_accent_and_tilde :grave_accent_and_tilde      :left_arrow] [:geonix :!excel]] ;; 言語非依存、Excel以外
      [[:escape :w] [:grave_accent_and_tilde :grave_accent_and_tilde :!Tu :left_arrow] [:geonix :excel]]  ;; 言語非依存、Excel
    ]}

    {:des "通常のリターンを変換確定キーとして扱う"
     :rules [
      ;; ⇧リターンは日本語の確定動作（かわせみで定義必要：「変換と確定」→「全文節確定」、「候補操作」→「候補決定」）＋改行（アプリに依る）
      [:return_or_enter   :!Sreturn_or_enter :no_return_apps] ;; リターン単打を⇧リターンに置き換え、変換確定しかしない
      [:!!return_or_enter :return_or_enter]                   ;; ✦リターンで通常のリターン
    ]}

    {:des "⌥- → Markdownの箇条書き"
     :rules [
      [:!Ohyphen [:japanese_eisuu :hyphen :spacebar :japanese_kana] :ja]
      [:!Ohyphen [                :hyphen :spacebar]                :!ja]
    ]}

    {:des "Geonix用ルール"
     :rules [
      ;; 英かな：GeonixをBluetooth接続すると英かなキーが認識しないので、別キーを割り当て、Karabinerで変換する
      [:f19 :japanese_eisuu :geonix]
      [:f20 :japanese_kana  :geonix]

      ;; かな時 ' 単押しで、「」閉じ＆カーソル移動
      [:quote [:open_bracket :close_bracket :!TOSreturn_or_enter      :left_arrow] [:geonix :ja :!excel]] ;; 日本語、Excel以外
      [:quote [:open_bracket :close_bracket :!TOSreturn_or_enter :!Tu :left_arrow] [:geonix :ja :excel]] ;; 日本語、Excel
      [:!Oquote [:quote] [:geonix :ja]] ;; ⌥ ' で、通常入力
    ]}
  ]
}