{
  :applications {
    :slack_notion ["^com\\.tinyspeck\\.slackmacgap$" "^notion\\.id"]
    :notion ["^notion\\.id"]
    :slack ["^com\\.tinyspeck\\.slackmacgap$"]
  }

  :templates {
    :launch "osascript -e 'tell application \"%s\" to activate'"
  }

  :main [
    {:des "CAPSハイパーキー: Caps_lockを Shift, Command, Control, Option に置換する"
     :rules [
      [:caps_lock [:!CTOleft_shift]]
      [:!!a [:launch "Arc"]]
      [:!!c [:launch "Cursor"]]
      [:!!d [:launch "Dictionaries"]]
      [:!!l [:launch "DeepL"]]
      [:!!f [:launch "Finder"]]
      [:!!n [:launch "Notion"]]
      [:!!o [:launch "Obsidian"]]
      [:!!p [:launch "1Password"]]
      [:!!r [:launch "Reminders"]]
      [:!!s [:launch "Slack"]]
      [:!!w [:launch "Warp"]]
    ]}

    {:des "英かな：左右⌘キーを単独で押したときは英数・かなキーとして扱う"
     :rules [
      [:left_command :left_command nil {:alone :japanese_eisuu}]
      [:right_command :right_command nil {:alone :japanese_kana}]
    ]}

    {:des "アプリ横断でショートカットキーを統一"
     :rules [
      ;; Slack & Notion
      [:!Cl :!Ck :slack_notion] ;; 検索 ⌘ L -> ⌘ K

      ;; Notion
      [:!CSTc :!CTl :notion] ;; ブロックリンクコピー ⌘⇧^ C -> ⌘^ L
      [:!CS7 :!CO6 :notion]  ;; 番号付き箇条書き ⌘⇧ 7 -> ⌘⌥ 6
      [:!CS8 :!CO5 :notion]  ;; 箇条書き ⌘⇧ 8 -> ⌘⌥ 5
      [:!CS9 :!CO4 :notion]  ;; チェックリスト ⌘⇧ 9 -> ⌘⌥ 4

      ;; Slack
      [:!Ce :!CSc :slack];; コード ⌘ E -> ⌘⇧ C (Notion's shortcut)
    ]}

    {:des "括弧を自動的に閉じてカーソルを中に移動"
     :rules [
      ;; ^⌥⇧\ は日本語の確定動作。'"`は半角直接入力設定なので確定不要。
      [:!Oopen_bracket [:open_bracket :close_bracket :!TOSbackslash :left_arrow]]               ;; 角括弧 []
      [:!OSopen_bracket [:!Sopen_bracket :!Sclose_bracket :!TOSbackslash :left_arrow]]          ;; 波括弧 {}
      [:!OS9 [:!S9 :!S0 :!TOSbackslash :left_arrow]]                                            ;; 丸括弧 ()
      [:!Oquote [:quote :quote :left_arrow]]                                                    ;; シングルクォート ''
      [:!OSquote [:!Squote :!Squote :left_arrow]]                                               ;; ダブルクォート ""
      [:!OScomma [:!Scomma :!Speriod :!TOSbackslash :left_arrow]]                               ;; 不等号 <>
      [:!Ograve_accent_and_tilde [:grave_accent_and_tilde :grave_accent_and_tilde :left_arrow]] ;; バッククォート ``
      
      ;; 同時押し（ビルドインキーボード用）
      [[:open_bracket :close_bracket] [:open_bracket :close_bracket :!TOSbackslash :left_arrow]]                                             ;; [] → 角括弧 []
      [{:sim [:open_bracket :close_bracket] :modi {:mandatory [:left_shift]}} [:!Sopen_bracket :!Sclose_bracket :!TOSbackslash :left_arrow]] ;; {} → 波括弧 {}
      [[:9 :0] [:!S9 :!S0 :!TOSbackslash :left_arrow]]                                                                                       ;; 90 → 丸括弧 ()
      [[:semicolon :quote] [:quote :quote :left_arrow]]                                                                                      ;; ;' → シングルクォート ''
      [{:sim [:semicolon :quote] :modi {:mandatory [:left_shift]}} [:!Squote :!Squote :left_arrow]]                                          ;; :_ → ダブルクォート ""
      [[:comma :period] [:!Scomma :!Speriod :!TOSbackslash :left_arrow]]                                                                     ;; ,. → 不等号 <>
      [[:grave_accent_and_tilde :1] [:grave_accent_and_tilde :grave_accent_and_tilde :left_arrow]]                                           ;; `1 → バッククォート ``
    ]}

    {:des "通常のリターンを変換確定キーとして扱う"
     :rules [
      ;; ^⌥⇧\ は日本語の確定動作。
      [:return_or_enter :!TOSbackslash]     ;; 通常の⏎のみでは、変換確定しかしない
      [:!!return_or_enter :return_or_enter] ;; ✦⏎で通常の⏎
    ]}
  ]
}