{
  :applications {
    :slack_notion ["^com\\.tinyspeck\\.slackmacgap$" "^notion\\.id"]
    :notion ["^notion\\.id"]
    :slack ["^com\\.tinyspeck\\.slackmacgap$"]
    :excel ["^com\\.microsoft\\.Excel"]
    :no_return_apps [
      "^com\\.todesktop\\.230313mzl4w4u92" ;; Cursor
    ]
  }

  :devices {
      :corne [{:vendor_id 7504 :product_id 24926}]
      :geonix [
        {:vendor_id 14000 :product_id 12292} ;; Bluetooth
        {:vendor_id 14000 :product_id 12386} ;; USB
        {:vendor_id 14000 :product_id 12290} ;; 2.4GHz
      ]
      :corne_or_geonix [
        {:vendor_id 7504 :product_id 24926}  ;; Corne
        {:vendor_id 14000 :product_id 12292} ;; Geonix Bluetooth
        {:vendor_id 14000 :product_id 12386} ;; Geonix USB
        {:vendor_id 14000 :product_id 12290} ;; Geonix 2.4GHz
      ]
  }
  
  :froms {
    :sim_curved_brackets {:sim [:open_bracket :close_bracket] :modi {:mandatory [:left_shift]}}
    :sim_colon_double-quote {:sim [:semicolon :quote] :modi {:mandatory [:left_shift]}}
  }
  
  :input-sources {
    :ja {:language "ja"}
  }

  :templates {
    :launch "osascript -e 'tell application \"%s\" to activate'"
  }

  :main [
    {:des "CAPSハイパーキー: Caps_lockを Shift, Command, Control, Option に置換する"
     :rules [
      [:caps_lock [:!CTOleft_shift]]
      [:!!a [:launch "Arc"]]
      [:!!c [:launch "Cursor"]]
      [:!!d [:launch "Dictionaries"]]
      [:!!l [:launch "DeepL"]]
      [:!!f [:launch "Finder"]]
      [:!!n [:launch "Notion"]]
      [:!!o [:launch "Obsidian"]]
      [:!!p [:launch "1Password"]]
      [:!!r [:launch "Reminders"]]
      [:!!s [:launch "Slack"]]
      [:!!w [:launch "Warp"]]
    ]}

    {:des "英かな：左右⌘キーを単独で押したときは英数・かなキーとして扱う"
     :rules [
      [:left_command :left_command   nil {:alone :japanese_eisuu}]
      [:right_command :right_command nil {:alone :japanese_kana}]
    ]}

    {:des "アプリ横断でショートカットキーを統一"
     :rules [
      ;; Slack & Notion
      [:!Cl :!Ck :slack_notion] ;; 検索 ⌘ L -> ⌘ K

      ;; Notion
      [:!CSTc :!CTl :notion]  ;; ブロックリンクコピー ⌘⇧^ C -> ⌘^ L
      [:!CS7  :!CO6 :notion]  ;; 番号付き箇条書き ⌘⇧ 7 -> ⌘⌥ 6
      [:!CS8  :!CO5 :notion]  ;; 箇条書き ⌘⇧ 8 -> ⌘⌥ 5
      [:!CS9  :!CO4 :notion]  ;; チェックリスト ⌘⇧ 9 -> ⌘⌥ 4

      ;; Slack
      [:!Ce :!CSc :slack];; コード ⌘ E -> ⌘⇧ C (Notion's shortcut)
    ]}

    {:des "括弧を自動的に閉じてカーソルを中に移動"
     :rules [
      ;; ^⌥⇧リターンは日本語の確定動作（かわせみで定義必要：「変換と確定」→「全文節確定」、「候補操作」→「候補決定」）
      ;; '"`は半角直接入力設定なので確定不要。
      
      ;; 同時押し（共通）
      ;; ,. → 不等号 <>
      [[:comma :period] [:!Scomma :!Speriod :!TOSreturn_or_enter      :left_arrow] [:ja :!excel]]  ;; 日本語、Excel以外
      [[:comma :period] [:!Scomma :!Speriod :!TOSreturn_or_enter :!Tu :left_arrow] [:ja :excel]]   ;; 日本語、Excel
      [[:comma :period] [:!Scomma :!Speriod                           :left_arrow] [:!ja :!excel]] ;; 日本語以外、Excel以外
      [[:comma :period] [:!Scomma :!Speriod                      :!Tu :left_arrow] [:!ja :excel]]  ;; 日本語以外、Excel

      ;; 同時押し（ビルドインキーボード用）
      ;; [] → 角括弧 []
      [[:open_bracket :close_bracket] [:open_bracket :close_bracket :!TOSreturn_or_enter      :left_arrow] [:!corne :ja :!excel]]  ;; 日本語、Excel以外
      [[:open_bracket :close_bracket] [:open_bracket :close_bracket :!TOSreturn_or_enter :!Tu :left_arrow] [:!corne :ja :excel]]   ;; 日本語、Excel
      [[:open_bracket :close_bracket] [:open_bracket :close_bracket                           :left_arrow] [:!corne :!ja :!excel]] ;; 日本語以外、Excel以外
      [[:open_bracket :close_bracket] [:open_bracket :close_bracket                      :!Tu :left_arrow] [:!corne :!ja :excel]]  ;; 日本語以外、Excel
      ;; {} → 波括弧 {}
      [:sim_curved_brackets [:!Sopen_bracket :!Sclose_bracket :!TOSreturn_or_enter      :left_arrow] [:!corne :ja :!excel]]  ;; 日本語、Excel以外
      [:sim_curved_brackets [:!Sopen_bracket :!Sclose_bracket :!TOSreturn_or_enter :!Tu :left_arrow] [:!corne :ja :excel]]   ;; 日本語、Excel
      [:sim_curved_brackets [:!Sopen_bracket :!Sclose_bracket                           :left_arrow] [:!corne :!ja :!excel]] ;; 日本語以外、Excel以外
      [:sim_curved_brackets [:!Sopen_bracket :!Sclose_bracket                      :!Tu :left_arrow] [:!corne :!ja :excel]]  ;; 日本語以外、Excel
      ;; 90 → 丸括弧 ()
      [[:9 :0] [:!S9 :!S0 :!TOSreturn_or_enter      :left_arrow] [:!corne_or_geonix :ja :!excel]]  ;; 日本語、Excel以外
      [[:9 :0] [:!S9 :!S0 :!TOSreturn_or_enter :!Tu :left_arrow] [:!corne_or_geonix :ja :excel]]   ;; 日本語、Excel
      [[:9 :0] [:!S9 :!S0                           :left_arrow] [:!corne_or_geonix :!ja :!excel]] ;; 日本語以外、Excel以外
      [[:9 :0] [:!S9 :!S0                      :!Tu :left_arrow] [:!corne_or_geonix :!ja :excel]]  ;; 日本語以外、Excel
      ;; ;' → シングルクォート ''
      [[:semicolon :quote] [:quote :quote      :left_arrow] [:!corne_or_geonix :!excel]] ;; 言語非依存、Excel以外
      [[:semicolon :quote] [:quote :quote :!Tu :left_arrow] [:!corne_or_geonix :excel]]  ;; 言語非依存、Excel
      ;; :" → ダブルクォート ""
      [:sim_colon_double-quote [:!Squote :!Squote      :left_arrow] [:!corne_or_geonix :!excel]] ;; 言語非依存、Excel以外
      [:sim_colon_double-quote [:!Squote :!Squote :!Tu :left_arrow] [:!corne_or_geonix :excel]]  ;; 言語非依存、Excel
      ;; `1 → バッククォート ``
      [[:grave_accent_and_tilde :1] [:grave_accent_and_tilde :grave_accent_and_tilde      :left_arrow] [:!corne_or_geonix :!excel]] ;; 言語非依存、Excel以外
      [[:grave_accent_and_tilde :1] [:grave_accent_and_tilde :grave_accent_and_tilde :!Tu :left_arrow] [:!corne_or_geonix :excel]]  ;; 言語非依存、Excel

      ;; 同時押し（Corne&Geonix用）
      ;; ;- → 角括弧 []
      [[:semicolon :hyphen] [:open_bracket :close_bracket :!TOSreturn_or_enter      :left_arrow] [:corne_or_geonix :ja :!excel]]  ;; 日本語、Excel以外
      [[:semicolon :hyphen] [:open_bracket :close_bracket :!TOSreturn_or_enter :!Tu :left_arrow] [:corne_or_geonix :ja :excel]]   ;; 日本語、Excel
      [[:semicolon :hyphen] [:open_bracket :close_bracket                           :left_arrow] [:corne_or_geonix :!ja :!excel]] ;; 日本語以外、Excel以外
      [[:semicolon :hyphen] [:open_bracket :close_bracket                      :!Tu :left_arrow] [:corne_or_geonix :!ja :excel]]  ;; 日本語以外、Excel
      ;; l; → 波括弧 {}
      [[:l :semicolon] [:!Sopen_bracket :!Sclose_bracket :!TOSreturn_or_enter      :left_arrow] [:corne_or_geonix :ja :!excel]]  ;; 日本語、Excel以外
      [[:l :semicolon] [:!Sopen_bracket :!Sclose_bracket :!TOSreturn_or_enter :!Tu :left_arrow] [:corne_or_geonix :ja :excel]]   ;; 日本語、Excel
      [[:l :semicolon] [:!Sopen_bracket :!Sclose_bracket                           :left_arrow] [:corne_or_geonix :!ja :!excel]] ;; 日本語以外、Excel以外
      [[:l :semicolon] [:!Sopen_bracket :!Sclose_bracket                      :!Tu :left_arrow] [:corne_or_geonix :!ja :excel]]  ;; 日本語以外、Excel
      ;; ./ → 丸括弧 ()
      [[:period :slash] [:!S9 :!S0 :!TOSreturn_or_enter      :left_arrow] [:corne_or_geonix :ja :!excel]]  ;; 日本語、Excel以外
      [[:period :slash] [:!S9 :!S0 :!TOSreturn_or_enter :!Tu :left_arrow] [:corne_or_geonix :ja :excel]]  ;; 日本語、Excel
      [[:period :slash] [:!S9 :!S0                           :left_arrow] [:corne_or_geonix :!ja :!excel]] ;; 日本語以外、Excel以外
      [[:period :slash] [:!S9 :!S0                      :!Tu :left_arrow] [:corne_or_geonix :!ja :excel]]  ;; 日本語以外、Excel
      ;; /' → シングルクォート ''
      [[:slash :quote] [:quote :quote      :left_arrow] [:corne_or_geonix :!excel]] ;; 言語非依存、Excel以外
      [[:slash :quote] [:quote :quote :!Tu :left_arrow] [:corne_or_geonix :excel]]  ;; 言語非依存、Excel
      ;; p= → ダブルクォート ""
      [[:p :equal_sign] [:!Squote :!Squote      :left_arrow] [:corne_or_geonix :!excel]] ;; 言語非依存、Excel以外
      [[:p :equal_sign] [:!Squote :!Squote :!Tu :left_arrow] [:corne_or_geonix :excel]]  ;; 言語非依存、Excel
      ;; `a → バッククォート ``
      [[:grave_accent_and_tilde :a] [:grave_accent_and_tilde :grave_accent_and_tilde      :left_arrow] [:corne_or_geonix :!excel]] ;; 言語非依存、Excel以外
      [[:grave_accent_and_tilde :a] [:grave_accent_and_tilde :grave_accent_and_tilde :!Tu :left_arrow] [:corne_or_geonix :excel]]  ;; 言語非依存、Excel
    ]}

    {:des "通常のリターンを変換確定キーとして扱う"
     :rules [
      ;; ⇧リターンは日本語の確定動作（かわせみで定義必要：「変換と確定」→「全文節確定」、「候補操作」→「候補決定」）＋改行（アプリに依る）
      [:return_or_enter   :!Sreturn_or_enter :no_return_apps] ;; リターン単打を⇧リターンに置き換え、変換確定しかしない
      [:!!return_or_enter :return_or_enter]                   ;; ✦リターンで通常のリターン
    ]}

    {:des "Geonixの日本語変換"
     :rules [
      ;; GeonixをBluetooth接続すると英かなキーが認識しないので、別キーを割り当て、Karabinerで変換する
      [:f19 :japanese_eisuu :geonix]
      [:f20 :japanese_kana  :geonix]
    ]}
  ]
}